<header class="header">
  <div class="container">
    <div class="header-content">
      <form class="form">
        <input
          type="text"
          class="input"
          name="query"
          placeholder="Search character by name..."
        />
        <button type="submit" class="button"></button>
      </form>
      <div class="radiobuttons-wrapper">
        <fieldset class="fieldset status-fieldset">
          <span class="fieldset-name">Status</span>
          <label class="radio-label">
            <input type="radio" name="status" value="all" checked />
            All
          </label>
          <label class="radio-label">
            <input type="radio" name="status" value="alive" />
            Alive
          </label>
          <label class="radio-label">
            <input type="radio" name="status" value="dead" />
            Dead
          </label>
          <label class="radio-label">
            <input type="radio" name="status" value="unknown" />
            Unknown
          </label>
        </fieldset>
        <fieldset class="fieldset gender-fieldset">
          <span class="fieldset-name">Gender</span>
          <label class="radio-label">
            <input type="radio" name="gender" value="all" checked />
            All
          </label>
          <label class="radio-label">
            <input type="radio" name="gender" value="male" />
            Male
          </label>
          <label class="radio-label">
            <input type="radio" name="gender" value="female" />
            Female
          </label>
          <label class="radio-label">
            <input type="radio" name="gender" value="genderless" />
            Genderless
          </label>
          <label class="radio-label">
            <input type="radio" name="gender" value="unknown" />
            Unknown
          </label>
        </fieldset>
      </div>
    </div>
  </div>
</header>
